/*
div{
    height: 100px;
    width:100px;
    background-color: dodgerblue;
    color:white;
    border: 1px;
}
*/
/* practice que 
.dark{
    background-color: black;
    color:white
}

.light{
    background-color: white;
    color:black
}
*/